.center {
  text-align: center;
  font-family: monospace;
  color: red;
  /* Add More CSS Someday */
}

.large {
  font-size: 43px;
}

.boxed {
  border-style: dashed;
  border-width: 5px;
  color: red;
}

.monospace {
  font-family: monospace;
}

/* Simplified Colors Start */
.red {
  color: red;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
/* Simplified Colors End */

p {
  font-size: 14.6px;
}
