.center {
  text-align: center;
  font-family: monospace;
  color: red;
  /* Add More CSS Someday */
}

.large {
  font-size: 43px;
}

.boxed {
  border-style: dashed;
  border-width: 5px;
  color: red;
}

.monospace {
  font-family: monospace;
}

/* Simplified Colors Start */
.red {
  color: red;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
/* Simplified Colors End */

p {
  font-size: 19.6px;
}

/* Button */
.button {
  padding: 14px 40px;
  border-radius: 8px;
  transition-duration: 0.2s;
  border-color: crimson;
}

.button:hover {
  background-color: red;
  border-color: mintcream;
  color: white;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
/* Button */
